@import 'https://fonts.googleapis.com/css2?family=Berkshire+Swash';
@page {
    size: A4;
    margin: 2cm;
    font-size: 9pt;
}
@page capitulo :first {
    @top-left {
        content: normal;
    }
}
@page capitulo :first {
    @top-right {
        content: normal;
    }
}
@page capitulo :first {
    @bottom-right {
        content: counter(page, decimal);
    }
}
@page capitulo :left {
    @top-left {
        content: counter(page);
        vertical-align: bottom;
        margin-bottom: 2em;
        border-bottom: 0.5pt solid black;
        background-image: linear-gradient(45deg, gray 20%, white 21%);
        color: white;
        padding-left: 2pt;
    }
}
@page capitulo :left {
    @top-right {
        content: "Capítulo " counter(chapter);
        vertical-align: bottom;        
        margin-bottom: 2em;
        border-bottom: 0.5pt solid black;
    }
}
@page capitulo :right {
    @top-left {
        content: "Capítulo " counter(chapter);
        vertical-align: bottom;
        margin-bottom: 2em;
        border-bottom: 0.5pt solid black;
    }
}
@page capitulo :right {
    @top-right {
        content: counter(page);
        vertical-align: bottom;
        margin-bottom: 2em;
        border-bottom: 0.5pt solid black;
        background-image: linear-gradient(315deg, gray 20%, white 21%);
        color: white;
        padding-right: 2pt;
    }
}
@page capitulo :blank {
    @top-left {
        content: normal;
    }
}
@page capitulo :blank {
    @top-right {
        content: normal;
    }
}
body {
    font-family: "Times New Roman", serif;
    counter-reset: chapter;
}
section[data-type="titlepage"], section[data-type="chapter"] > h1::before, section[data-type="chapter"] > h1::after {
    font-family: 'Berkshire Swash', serif;
}
section[data-type="titlepage"] h1, section[data-type="titlepage"] p {
    text-align: center;
    font-weight: bold;
    text-indent: 0;
    margin-top: 2cm;
}
section[data-type="titlepage"] h1 {
    font-size: 36pt;
    border-bottom: 0.5pt solid black;
}
section[data-type="titlepage"] p[data-type="author"] {
    font-size: 24pt;
}
section[data-type="chapter"] {
    page: capitulo;
    prince-page-group: start;
    page-break-before: right;
}
section[data-type="chapter"] > h1::before {
    counter-increment: chapter;
    content: 'Capítulo';
    font-size: 28pt;
    white-space: pre;
    color: gray;
}
section[data-type="chapter"] > h1::after {
    content: counter(chapter);
    font-size: 28pt;
    background-color: gray;
    color: white;
    padding: 18pt;
}
section[data-type="chapter"] > h1 + p {
    margin-top: 4cm;
}
p {
    text-align: justify;
    text-indent: 1cm;
    widows: 2;
    orphans: 2;
}
